<!DOCTYPE html>
<html>
<head>
    <title>VSCode Extensions</title>
</head>
<body>
    <h1>VSCODE Extensions</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Downloads</th>
        </tr>
        {% for ext in exts %}
        <tr>
            <td>{{ ext[0] }}</td>
            <td>{{ ext[1] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Add New Extension</h2>
    <form action="/add_extension" method="post">
        <label for="name">Extension Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="downloads">Downloads:</label><br>
        <input type="text" id="downloads" name="downloads"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
